@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    flex: 0 0 auto;
    background-color: black;
    color: white;
    padding: 20px;
}

header img {
    height: 60px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    height: 100%;
}

.container {
    max-width: 1700px;
    display: flex;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
}

#foodForm {
    display: flex;
    justify-content: center;
    width: 100%;
}


/* General card styling */
.card {
    display: flex;
    flex-direction: column;
    border: 3px solid grey;
    justify-content: space-between;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 20px;
    transition: box-shadow 0.3s ease;
}


.card-total {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#foods {
    overflow-y: auto;
    /* Permite scroll vertical */
    max-height: calc(100vh - 150px);
    width: 75%;
    margin-right: 10px;
}

#order {
    width: 25%;
    background-color: #202020;
    border-radius: 2rem;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Styling for the food content */
.food-content {
    max-width: 75%;
}

.title {
    font-size: 2rem;
    font-weight: 500;
    margin-right: 15px;
}

.table {
    font-size: 0.8rem;
    padding: 7px 30px;
    background-color: #ffee0028;
    border: 2px solid rgb(255, 255, 0);
    border-radius: 10px;
    font-weight: bold;
}

.description {
    border-bottom: 2px solid gray;
    display: flex;
    flex-direction: column;
}

.description-ingredient {
    max-width: 1000px;
    font-size: 15px;
    max-lines: 1;
}

.description-information {
    display: flex;
    align-items: center;
}

.description-salsa {
    border-radius: 7px;
    padding: 2px 15px;
    margin-right: 7px;
    border: 2px solid blue;
    background-color: #0011ff1c;
}

.description-note {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.description span {
    color: #333;
}

.card-total-precio {
    font-size: 2rem;
    color: #28a745;
    font-weight: bold;
}

/* Button styling */
.update {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.update:hover {
    background-color: #218838;
}

.update:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(72, 180, 97, 0.5);
}

.update:active {
    background-color: #1e7e34;
}


@media (max-width : 900px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}


footer {
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}